body { 
	color: brown;
	background: silver;
	font-family: Arial;
}
a {
	color: green; 
}
a:visited {
	color:: rgb(270,10,305); 
}
p {
	text-align: left;
	line-height: 140%;
	text-indent: 40px;
	word-spacing: 5px;
}
aside p {
	text-align: right;
}
h1 {
	text-align: center;
	color: maroon;
	font-family: Geneva;
}
h3 {
	text-align: center;
	color: rgb(300,240,125);
	font-family: sans-selif;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
ul {
	list-style-type: none;
}
iframe {
	width: 45%;
	height: 172px;
	border: none;
}
